# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / testing cache
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/
env/

# IDE files
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db
